* {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom, #4b57d1, black, #1d1b57);
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    /* centraliza verticalmente */
    justify-content: space-between;
    /* logo na esquerda, entrar na direita */
}

header .logo {
    min-width: 100px;
    width: 140px;
}

nav {
    display: flex;
    margin: auto;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 12px;
}

nav a:hover {
    border-color: #3A3C88;
    background-color: #7873f9;
}

.Entrar {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
    border: white;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s, color 0.3s;
}

.Entrar:hover {
    background-color: #c7c2c2;
    border: #c7c2c2;
}


/* Esconde o checkbox */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* CRIANDO ARTICLE*/

.hero-titulo {
    margin-top: -20px;
}

.hero-titulo h1 {
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 95px;
    width: 65%;
    line-height: 1.0;
}

.moeda-discord img {
    width: 170px;
    margin-left: 80px;
    margin-top: -40px;
}

.conteudo-paragrafo p {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 35px;
    width: 58%;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.botao-download {
    text-align: center;
    margin-top: 50px;
}

.botao-download img {
    width: 25px;
    position: relative;
    top: 10px;
    right: 10px;
}

.botao-download a {
    border: 1px solid #5865f2;
    background-color: #5865f2;
    background-image: none;
    padding: 15px 30px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.botao-download :hover {
    background-image: linear-gradient(to bottom, #5865f2, #2d347c);
    border: #5865f2;
}

.robozinho {
    display: flex;
    justify-content: right;
    position: relative;
    left: 40px;
    bottom: 10px;
}

.robozinho img {
    width: 170px;
}

.hero-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-game .game-img {
    width: 90%;
}

.folha {
    position: relative;
    bottom: 370px;
    left: 50px;
}

.folha img {
    width: 120px;
}

.porquinho {
    position: relative;
    bottom: 410px;
    left: 40px;
}

.porquinho img {
    max-width: 270px;
}