* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e4e6ff;
}

header {
    color: white;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    min-width: 100px;
    width: 140px;
}

nav {
    display: flex;
    margin: auto;
}

nav a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 14px;
}

nav a:hover {
    border-color: #7773f900;
    background-color: #7773f9b9;
}

.Entrar {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
    border: white;
    background-color: #5865F2;
    padding: 14px 24px;
    border-radius: 20px;
    transition: 0.3s, color 0.3s;
}

.Entrar:hover {
    background-color: #454fbd;
    border: #5865F2;
}


/* Esconde o checkbox */
#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* CRIANDO BODY DO SITE */

main {
    display: flex;
    flex-direction: column;  
    padding: 30px;
}

.mega-fone {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}

.mega-fone img {
    width: 230px;
    margin-right: 1000px;
}

.titulo {
    display: flex;
    justify-content: center;
    margin-top: -150px;
    margin-left: 250px;
    text-align: center;
    line-height: 0.9;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: #5865F2;
}

.titulo img {
    margin-left: 70px;
    margin-top: 110px;
}

.paragrafo {
    display: flex;
    text-align: center;
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #000000;
    width: 750px;
    margin: auto;
    padding-right: 75px;
    padding-top: 20px;
}

.servidores {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 5px;
    width: 100%;
}

.todos, .jogos, .entretenimento, .educacao, .musica, .tecnologia {
    display: flex;
    align-items: center; 
    border: 1px solid #e4e6ff;
    padding: 20px;
    border-radius: 18px;
}

.todos:hover, .jogos:hover, .entretenimento:hover, .educacao:hover, .musica:hover, .tecnologia:hover {
    background-color: #5865F2;
}

.todos img, .jogos img, .entretenimento img,
.educacao img, .musica img, .tecnologia img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.todos p, .jogos p, .entretenimento p,
.educacao p, .musica p, .tecnologia p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #000000;
}

.barra-pesquisa {
    display: flex;
    justify-content: center;
}

.barra-pesquisa input {
    margin-top: 20px;
    border: 1px solid #ffffff;
    border-radius: 18px;
    padding: 20px;
    padding-left: 55px;
    width: 85%;
    font-size: 16px;
}

.barra-pesquisa img {
    width: 22px;
    height: 22px;
    position: relative;
    left: 38px;
    top: 37px;
}

.resultado-encontrado {
    display: flex;
    padding: 10px;
    margin-left: 100px;
}

.resultado-encontrado h1 {
    color: black;
    font-family: 'montserrat', sans-serif; 
    font-size: 30px;
    font-weight: bold;
}