* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, #1C1A64, #3a4299);
    overflow-x: hidden;
}

header {
    color: white;
    margin-top: 20px;
    padding: 30px;
    display: flex;                  
    align-items: center;            /* centraliza verticalmente */
    justify-content: space-between; /* logo na esquerda, entrar na direita */
}

header .logo {
    min-width: 100px;
    width: 200px;
}

nav {
    display: flex;
    gap:20px;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.Entrar {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bolder;
    border: 2px solid white;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.3s, color 0.3s;

}

.Entrar:hover {
    background-color: #c7c2c2;
}


/* Esconde o checkbox */
#menu-toggle {
    display: none;
}

/* Esconde o hamburguer em telas grandes */
.hamburger {
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

main {
    padding: 150px;
}

.hero {
    display: flex;
    flex-direction: row;      /* lado a lado */
    align-items: center;      /* centraliza verticalmente */
    gap: 100px;
}

/* lado esquerdo */
.hero-imagem img {
    width: 700px;
    margin-top: -100px;
}

/* lado direito */
.hero-texto {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;

}

main h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    line-height: 1;         /* era 3.3rem, esse valor fazia as linhas colarem */
}

main p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.botoes {
    display: flex;
    gap: 20px;
    margin-top: 40px;        /* espaço acima dos botões */
    justify-content: center; /* centraliza horizontalmente */
    margin-bottom: 30px;
}

.botoes p {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    font-weight: 100;
    margin: auto;
}

.botao-download {
    display: flex;
    border: 2px solid white;
    background-color: white;
    padding: 12px 45px;
    border-radius: 10px;
    transition: 0.3s, color 0.3s;
    gap: 20px;
}

.botao-download:hover {
    background-color: #c7c2c2;
    border: 2px solid #c7c2c2;
}

.botao-navegador {
    display: flex;
    border: 2px solid #4F5ADA;
    background-color: #4F5ADA;
    padding: 20px 45px;
    border-radius: 10px;
    transition: 0.3s, color 0.3s;
}

.botao-navegador p {
    color: white;
    font-size: 23px;
    font-weight: 500;
}

.botao-navegador:hover {
    background-image: linear-gradient(to top, #31348C, #4F5ADA);
    border: 2px solid #31348C;
}

.animacao {
    display: flex;
    justify-content: right; 
    margin-right: 100px;
    padding-top: 40px;
}

.div-main {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to right, #6C75DD, #1e1e5590 60%);
    border-radius: 130px;
    padding: 10px;
    gap: 15px;   
}

.div-main video {
    border-radius: 140px;
    padding: 20px;
}

.div-main h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 0.9;
}
.div-main p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    max-width: 400px;            /* largura máxima do texto */
}

.conteudo-main {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;
}

.div-main-2 {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to left, #6C75DD, #1e1e5590 60%);
    border-radius: 130px;
    padding: 10px;
    gap: 15px;    
    margin-top: 200px;
}

.div-main-2 video {
    border-radius: 140px;
    padding: 20px;
}

.div-main-2 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 0.9;
}
.div-main-2 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 1.4;
    max-width: 400px;            /* largura máxima do texto */
}

.conteudo-main-2 {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;
    padding: 40px;
    margin-left: 15px;
}

.div-main-3 {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to right, #6C75DD, #1e1e5590 60%);
    border-radius: 130px; 
    padding: 10px;
    gap: 15px;   
}

.div-main-3 video {
    border-radius: 140px;
    padding: 20px;
}

.div-main-3 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 0.9;
}
.div-main-3 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    max-width: 400px;            /* largura máxima do texto */
}

.conteudo-main-3 {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;
}

.box {
    margin-top: 80px;
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-bottom: -80px; /* puxa a div-main-3 pra cima */
    position: relative;   /* necessário para o z-index funcionar */
    z-index: 1;           /* fica na frente da div-main-3 */
}


.faixa {
    background-image: linear-gradient(to bottom, #252752, #5359B9);
    padding: 45px 0;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 200px;

    /* cancela o padding do main nas laterais */
    margin-left: -150px;
    margin-right: -150px;
}

/* conteúdo que vai se mover */
.faixa-conteudo {
    display: inline-flex; /* lado a lado em linha */
    gap: 40px;
    align-items: center;
    animation: rolar 10s linear infinite; /* chama a animação */
}

.faixa-conteudo span {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 2px;
}

/* a mágica da animação */
@keyframes rolar {
    from {
        transform: translateX(0); 
    }
    to {
        transform: translateX(-30%); 
    }
}

.div-main-4 {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to left, #6C75DD, #1e1e5590 60%);
    border-radius: 130px;
    padding: 10px;
    gap: 25px;    
    margin-top: 200px;
}

.div-main-4 video {
    border-radius: 140px;
    padding: 20px;
}

.div-main-4 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    line-height: 0.9.5;
}
.div-main-4 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    max-width: 1000px;            /* largura máxima do texto */
}

.conteudo-main-4 {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 25px;
    padding: 100px;
    margin-left: 25px;
}

.div-main-5 {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to right, #6C75DD, #1e1e5590 80%);
    border-radius: 130px;
    margin-top: 200px;
    padding: 10px;
    gap: 15px;   
}

.div-main-5 video {
    border-radius: 140px;
    padding: 20px;
}

.div-main-5 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    line-height: 0.9;
}
.div-main-5 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 1.4;
    max-width: 400px;            /* largura máxima do texto */
}

.conteudo-main-5 {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;
    padding: 100px;
}

.cebola-main-5 {
    display: flex;
    justify-content: left;
    position: relative;
    bottom: 200px;
    right: 80px;
}

.cebola {
    width: 240px;
}

.div-main-6 {
    display: flex;
    align-items: center;      /* centraliza verticalmente o texto em relação ao vídeo */
    background-image: linear-gradient(to left, #6C75DD, #1e1e5590 60%);
    border-radius: 130px;
    padding: 10px;
    gap: 15px;   
}

.div-main-6 video {
    border-radius: 140px;
    padding: 20px;
}

.div-main-6 h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 0.9.5;
}
.div-main-6 p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    max-width: 400px;            /* largura máxima do texto */
}

.conteudo-main-6 {
    display: flex;
    flex-direction: column;   /* h1 e p empilhados */
    gap: 20px;
    padding: 40px;
    margin-left: 15px;
}

.div-explorer {
    text-align: center;
    margin-top: 230px;
}

.div-explorer h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
    line-height: 1.2;
}

.botao-download-1 {
    display: flex;
    border: 2px solid white;
    background-color: white;
    padding: 12px 45px;
    border-radius: 10px;
    transition: 0.3s, color 0.3s;
    gap: 20px;
    margin-top: 10px;
}

.botao-download-1:hover {
    background-color: #c7c2c2;
    border: 2px solid #c7c2c2;
}

.gangue-container {
    position: relative;  /* referência para o porquinho absoluto */
    display: flex;
    justify-content: center; /* centraliza a gangue */
    margin-top: 150px;
}

.gangue {
    display: block;
    width: 1100px;
    max-width: 100%;

}

.porquinho {
    position: absolute;  /* sai do fluxo e flutua sobre a gangue */
    width: 400px;
    max-width: 40%;

    /* centraliza horizontal e verticalmente */
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%); /* ajuste fino do centro */
}

footer {
    background-image: linear-gradient(to bottom, #1C1A64 5%, #6b75ec);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: -150px;
    margin-right: -150px;
    margin-top: -170px;
    padding: 90px 250px;
}

footer p {
    font-size: 18px;
    color: #BDBDD3;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.idioma {
    margin-top: 50px;
}

footer .selecao-idioma {
    background-color: #3A3A86;
    color: white;
    border: 2px solid #3A3C88;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin-top: 15px;
}

footer .social {
    margin-top: 55px;
}

.Redes-sociais {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.Redes-sociais img {
    width: 30px;
}

.coluna-2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 300px;
}

.p-color {
    color: white;
    font-size: 18px;
}

.p-color:hover {
    color: white;
    text-decoration: underline;
}

.coluna-3 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 55px;
}

.coluna-4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 200px;
}

.coluna-5 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 40px;
}

.footer-1 {
    display: flex;
}

.imagem-discordbig {
    margin-top: 180px;
}

.imagem-discordbig img {
    width: 100%;
}

/* TELAS MENORES QUE 768px */

@media (max-width: 768px) {

    .Entrar {
        padding: 10px 15px;
    }

    /* Mostra o hamburguer */
    .hamburger {
        display: block;
    }

    /* Nav começa escondido */
    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 90px; /* ajusta conforme altura do seu header */
        left: 49%;
        width: 40%;
        background-color: #3840d0a3;
        padding: 50px 30px;
        gap: 20px;
    }

    nav a {
        font-size: 20px;
    }

    /* Quando o checkbox estiver marcado, o nav aparece */
    #menu-toggle:checked ~ nav {
        display: flex;
    }

    header .logo {
        width: 170px;
    }

    .hero {
        align-items: center;      /* centraliza verticalmente */
        gap: 100px;
    }

    /* lado esquerdo */
    .hero-imagem img {
        width: 700px;
        margin-top: -10px;
    }

    /* lado direito */
    .hero-texto {
        gap: 20px;

    }

    .header-acoes {
        display: flex;
        align-items: center;
        gap: 30px; 
    }
    

    main img {
        max-width: 400px;
    }

     /* padding menor nas laterais */
    main {
        padding: 20px;
    }

    /* hero vira coluna: texto em cima, imagem embaixo */
    .hero {
        flex-direction: column;
        gap: 40px;
    }

    .hero-imagem {
        order: 1; /* primeiro */
    }

    /* texto vai para baixo */
    .hero-texto {
        order: 2; /* segundo */
        text-align: center;
    }

    /* botões em coluna */
    .botoes {
        flex-direction: column;
        align-items: center;
    }

    .animacao {
        display: flex;
        justify-content: right;
        margin-right: 50px;

    }
    /* div-main vira coluna */
    .div-main{
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main-2 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
        margin-top: 100px;
    }

    .div-main-3 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
        margin-top: 100px;
    }

    .div-main-4{
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
        margin-top: 100px;
    }

    .div-main-5{
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
        margin-top: 100px;
    }
    .div-main-6{
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
        margin-top: 100px;
    }

    .div-main video, .div-main-2 video, .div-main-3 video, .div-main-4 video, .div-main-5 video, .div-main-6 video {
        width: 90%;
        border-radius: 70px;
    }

    .div-main h1, .div-main-2 h1, .div-main-3 h1, .div-main-4 h1, .div-main-5 h1, .div-main-6 h1 {
        font-size: 45px;
        word-break: break-word; /* quebra palavra se necessário */
    }

    .div-main p, .div-main-2 p, .div-main-3 p, .div-main-4 p, .div-main-5 p, .div-main-6 p {
        width: 100%;
        max-width: 400px;      /* limita a largura */
        font-size: 19px;
        text-align: center;
        margin: 0 auto;        /* centraliza o bloco dentro do container */
    }

    .conteudo-main, .conteudo-main-2, .conteudo-main-3, .conteudo-main-4, .conteudo-main-5, .conteudo-main-6 {
        padding: 0 20px 20px 20px; /* respiro nas laterais */
        text-align: center;
    }

    .box {
        display: flex;
        justify-content: right;
        margin-right: 10px;
        margin-bottom: -170px; /* puxa a div-main-3 pra cima */
        position: relative;   /* necessário para o z-index funcionar */
        z-index: 1;           /* fica na frente da div-main-3 */
    }

    .cebola-main-5 {
        display: flex;
        justify-content: left;
        position: relative;
        bottom: 210px;
        right: 80px;
        width: 15px;
    }

    footer {
        margin-top: -40px;
        padding: 80px 180px; /* menos padding nas laterais */
    }

    footer .imagem-discordbig {
        width: 420px;
        margin: auto;
    }

    .gangue-container {
        position: relative;  /* referência para o porquinho absoluto */
        display: flex;
        justify-content: center; /* centraliza a gangue */
        margin-top: 150px;
        transform: translate(0%, -3%); /* ajuste fino do centro */
    }

    .gangue {
        display: block;
        width: 1000px;
        max-width: 105%;

    }

    .porquinho {
        position: absolute;  /* sai do fluxo e flutua sobre a gangue */
        width: 400px;
        max-width: 40%;

    /* centraliza horizontal e verticalmente */
        top: 86%;
        left: 50%;
        transform: translate(-50%, -50%); /* ajuste fino do centro */
    }
}


@media (max-width: 1400px) {

    nav a {
        font-size: 14px;
    }

    main {
        padding: 20px;
    }

    main h1 {
        font-size: 35px;
    }

    main p {
        font-size: 17px;
    }

    .hero {

        align-items: center;      /* centraliza verticalmente */
        gap: 100px;
    }

    /* lado esquerdo */
    .hero-imagem img {
        width: 500px;
        margin-top: -10px;
    }

    /* lado direito */
    .hero-texto {

        flex-direction: column;   /* h1 e p empilhados */
        gap: 20px;

    }


    /* remove o width 100% e reduz o padding */
    .botao-download img {
        padding: 0px 10px;  /* padding menor */
        width: 30px; /* largura automática — só do tamanho do conteúdo */
        height: 35px;
        justify-content: center;
    }

    .botao-navegador {
        padding: 19px 25px;  /* padding menor */
        width: auto;          /* largura automática — só do tamanho do conteúdo */
        justify-content: center;
    }

    .botoes {
        margin-top: 50px;
        align-items: center;  /* centraliza os botões */
        gap: 25px;
    }

    .botao-navegador p,
    .botoes p {

        font-size: 19px;  /* texto menor dentro dos botões */
    }

    .conteudo-main, .conteudo-main-2, .conteudo-main-3, .conteudo-main-4, .conteudo-main-5, .conteudo-main-6 {
        text-align: center;
        padding: 20px 15px 20px 15px; /* menos padding nas laterais */
        margin: auto;
    }

     /* animação com menos margem direita */
    .animacao {
        display: flex;
        justify-content: right;
        margin-right: 40px;
    }

     /* div-main com bordas mais arredondadas e menos padding */
    .div-main{
        flex-direction: column;
        border-radius: 70px;
        padding: 20px;
        margin: auto;
    }

    .div-main-2 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main-3 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main-4 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main-5 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main-6 {
        flex-direction: column;
        border-radius: 50px;
        padding: 30px;
        text-align: center;
        overflow: hidden; /* impede conteúdo de vazar pra fora */
    }

    .div-main video, .div-main-2 video, .div-main-3 video, .div-main-4 video, .div-main-5 video, .div-main-6 video {
        width: 90%;
        border-radius: 70px;
    }

    .div-main p, .div-main-2 p, .div-main-3 p, .div-main-4 p, .div-main-5 p, .div-main-6 p {
        width: 100%;
        max-width: 400px;      /* limita a largura */
        font-size: 19px;
        text-align: center;
        margin: 0 auto;        /* centraliza o bloco dentro do container */
    }

    .faixa {
    background-image: linear-gradient(to bottom, #252752, #5359B9);
    padding: 45px 0;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 200px;

    /* cancela o padding do main nas laterais */
    margin-left: -15px;
    margin-right: -15px;
    }

    .cebola-main-5 {
        display: flex;
        justify-content: left;
        position: relative;
        bottom: 210px;
        right: 80px;
        width: 150px;
    }

    .cebola {
        display: flex;
        justify-content: left;
        position: relative;
        top: 200px;
        left: 50px;
        width: 130px;
    }

    .div-explorer h1 {
    text-align: center;
    font-size: 35px;
    }

    footer {
        background-image: linear-gradient(to bottom, #1C1A64, #5664EF);
        color: white;
        font-family: Arial, Helvetica, sans-serif;

        margin-right: -20px;
        margin-top: -40px;

    }

    .imagem-discordbig {
        margin-top: 180px;
    }

    .imagem-discordbig img {
        display: block;
        margin: 0 auto;
        width: 114%;
    }

    .coluna-1 {
        margin-right: -180px;
    }

    footer .social {
        margin-top: 55px;
        padding: 10px 0px; /* respiro nas laterais */
    }

    .Redes-sociais {
        display: flex;
        gap: 30px;
    }

    .Redes-sociais img {
        width: 30px;
    }

}